@import '../abstracts/variables';

.section-about {

    padding: 1rem;

    .section-heading {
        font-size: $font-size-section-headings;
        color: $accent-color;
        width: max-content;
        margin: 1rem auto;
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 2rem;

        figure {

            width: 75%;

            img {
                display: block;
                // box-sizing: border-box;
                width: 100%;
                max-width: 17rem;
                margin: 0 auto;

            }
        }


        .about-accordian {
            border-radius: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            background-color: rgba($primary-color, 0.25);
            padding: 1rem;
            gap: 1rem;
            max-width: 25rem;
            justify-content: space-evenly;


            .accordion-button {
                width: 100%;
                background-color: $primary-color;
                color: $background-color;
                text-align: left;
                display: flex;
                justify-content: space-between;
                border-radius: 0rem;
            }

            .accordion-content {
                width: 100%;
                background-color: $background-color;
                max-height: 0rem;
                overflow: hidden;
                box-sizing: border-box;
                color: $text-color;
                transition: all 0.3s ease;

                p {
                    font-size: 0.75rem;
                }
            }

            .accordion-content.active {
                padding: 1rem;
                max-height: 15rem;
                overflow: scroll;
            }
        }


    }
}