@import '../abstracts/variables';

.section-about {

    padding: 1rem;
    max-width: 75rem;
    margin: 0 auto;

    .section-heading {
        font-size: $font-size-section-headings;
        color: $accent-color;
        width: max-content;
        margin: 1rem auto;
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 2rem;
        padding: 1rem;


        figure {
            margin: 0;

            img {
                display: block;
                width: 100%;
                max-width: 17rem;
                margin: 0 auto;

            }
        }

        @media (min-width: $media-query-tablet) {
            justify-content: space-between;

            figure {
                img {
                    max-width: 20rem;
                }

                order: 2;
            }
        }


        .accordion-background {
            background-color: rgba($primary-color, 0.1);
            padding: 1rem;
            flex: 1 1 auto;
            display: flex;
            align-items: center;

            .about-accordian {
                flex-direction: column;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                height: max-content;


                .accordion-button {
                    width: 100%;
                    background-color: $background-color;
                    color: $primary-color;
                    text-align: left;
                    border-radius: 0;

                    strong {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .accordion-button:hover,
                .accordion-button.active {
                    background-color: $primary-color;
                    color: $background-color;
                    border: none;
                }


                .accordion-content {
                    width: 100%;
                    background-color: $background-color;
                    max-height: 0rem;
                    overflow: hidden;
                    box-sizing: border-box;
                    color: $text-color;
                    transition: all 0.3s ease;
                }

                .accordion-content.active {
                    padding: 1rem;
                    max-height: 15rem;
                    overflow: scroll;
                }

                .accordion-item:not(:last-child) {
                    border-bottom: 1px solid $primary-color;
                }
            }

            @media (min-width: $media-query-tablet) {
                width: 30%;
                order: 1;

                .accordion-button {
                    padding: 2rem;
                }
            }
        }



    }
}