@import '../abstracts/variables';


@keyframes moveGradient {
    0% {
        background-position: 30% 30%;
    }

    25% {
        background-position: 70% 40%;
    }

    50% {
        background-position: 50% 70%;
    }

    75% {
        background-position: 30% 60%;
    }

    100% {
        background-position: 30% 30%;
    }
}

.hero {



    background: radial-gradient(circle at 50% 50%, #273870, $background-color, $background-color, $background-color);
    background-size: 200% 200%;
    background-position: 50% 50%;
    animation: moveGradient 6s infinite ease-in-out;


    padding: 2rem;
    box-sizing: border-box;
    height: calc(100vh - 6.375rem);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;

    .introduction {

        .hello-carousel {
            color: $accent-color;
            font-size: clamp(1rem, 4.65vw, 1.5rem);

            p {
                margin: .5rem;
            }
        }

        h1 {
            text-shadow: 2px 2px 5px #000;
            margin: 0.5rem;
            font-size: clamp(3rem, 15vw, 5rem);
        }

        .designation {
            color: $text-color;
            font-size: clamp(1rem, 7vw, 2rem);
            margin: 1rem 0.5rem;
        }


    }

    .call-to-action {
        padding: 0.5rem 2rem;
        background-color: $primary-color;
        color: $background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        gap: 0.25rem;
        margin: 3rem auto;
        border-radius: 10px;

        svg {
            display: inline-block;
            animation: jump 0.5s infinite alternate ease-in-out;
        }

        @keyframes jump {
            0% {
                transform: translateY(5px);
            }

            100% {
                transform: translateY(-5px);
            }
        }

        @media (min-width:$media-query-tablet) {
            font-size: 1.5rem;
        }
    }

    .call-to-action:hover {
        background-color: $accent-color;
    }
}