@import "../abstracts/variables";

.hike-post {

    padding: 1rem;
    max-width: 75rem;
    margin: 0 auto;

    .section-heading {
        font-size: $font-size-section-headings;
        color: $accent-color;
        width: max-content;
        margin: 1rem auto;
    }

    .hike-content {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem;

        figure {

            width: 100%;
            margin: 0;
            height: max-content;

            img {
                display: block;
                // box-sizing: border-box;
                width: 100%;
                max-width: 17rem;
                margin: 0 auto;

            }

            @media (min-width: $media-query-tablet) {
                width: 30%;

                img {
                    max-width: 20rem;
                    margin: 0;
                }
            }
        }

        .content {
            width: 100%;
            background-color: rgba($primary-color, 0.1);
            padding: 0.5rem;
            color: $text-color;
            border-radius: 10px;

            .post-title {
                width: max-content;
                margin: 0.5rem auto;
                max-width: 100%;
                text-align: center;
            }

            @media (min-width: $media-query-tablet) {
                width: 40%;
                flex: 1 1 auto;
            }
        }
    }
}