@import "../abstracts/variables";

.navigation {
    position: fixed;
    bottom: 0;
    background-color: $background-color;
    left: 0;
    right: 0;



    ul {
        background: linear-gradient(0deg, rgba($text-color, 0.05) 0%, $background-color 89%);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        justify-content: space-evenly;
        padding: 0.5rem;
        margin: 0;

        a {
            color: $text-color;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            width: max-content;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            span {
                font-size: 0.75rem;
            }
        }

        li {
            display: inline;
            border-radius: 5px;
            width: 100%;
        }

        li.active {
            background-color: $primary-color;

            a {
                color: $background-color;
            }
        }

        @media (min-width: $media-query-tablet) {
            max-width: fit-content;
            gap: 2rem;
            margin: 0 auto;
        }

        @media (min-width: $media-query-desktop) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0;
        }

    }

    @media (min-width: $media-query-desktop) {
        right: auto;
        margin-left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        height: fit-content;
    }
}