@import '../abstracts/variables';

#project-gallery {
    width: 100%;
    padding: 2rem 0;
    max-width: 58rem;
    margin: 0 auto;

    h2 {
        color: $accent-color;
        font-size: $font-size-section-headings;
        margin: 1rem auto;
        width: max-content;
    }

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    @media (min-width: $media-query-desktop-lg) {
        max-width: none;
    }
}