@import "../abstracts/variables";

.project-page {
    padding: 1rem;
    box-sizing: border-box;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;

    p,
    li {
        font-size: 1rem;
    }

    .project-title {
        font-size: clamp(1.5rem, 4.5vw, 3rem);
        color: $accent-color;
        width: max-content;
        margin: 1rem auto;
    }

    .project-section-heading {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }

    section {
        margin: 0.5rem auto;
        max-width: 42rem;

        .section-content {
            background-color: rgba($primary-color, 0.1);
            padding: 0.5rem;
            color: $text-color;
            font-size: 1rem;
            margin: 0;
        }
    }

    .carousel-section {
        width: clamp(12.5rem, 100%, 25rem);
        margin: 0 auto;
        height: 100%;

        .project-section-heading {
            display: none;
        }

        .carousel .slide img {
            height: clamp(12.5rem, 50vh, 18.75rem);
            object-fit: cover;
            width: 100%;
        }
    }


    .icons {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding: 1rem;
        width: clamp(0rem, 90%, 25rem);
        margin: 0 auto;

        a {
            color: $primary-color;
            font-size: 1.5rem;
        }

        a:hover {
            color: $accent-color;
        }
    }

    .coming-soon {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding: 1rem;
        width: clamp(0rem, 90%, 25rem);
        margin: 0 auto;
        padding: 0rem 0.5rem;
        color: $accent-color;

        p {
            //font-weight: 1000;
            margin: 0.25rem;
        }
    }

    .skills {
        width: 100%;

        h2 {
            display: none;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: rgba($primary-color, 0.1);

            li {
                background-color: $primary-color;
                color: $background-color;
                padding: 0.25rem 0.5rem;
                border-radius: .625rem;
            }
        }
    }

    .highlights ul {
        list-style-type: square;
    }

    .other-projects {
        max-width: 100%;

        .project-cards {
            display: flex;
            overflow: scroll;
            max-width: 100%;
            gap: 0.5rem;
            overflow-y: hidden;


            &::-webkit-scrollbar {
                height: 0.5rem;
            }

            &::-webkit-scrollbar-track {
                background: rgba($primary-color, 0.3);
                border-radius: 0.25rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $accent-color;
                border-radius: 0.25rem;
            }


            article {
                margin: 0;
                min-width: clamp(15rem, 75vw, 25rem);
                margin-bottom: 1rem;

                @media (min-width) {
                    min-width: 25rem;
                }
            }
        }
    }

    @media (min-width:$media-query-desktop) {
        .upper-section {
            margin-top: 5rem;
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-content: flex-start;

            .carousel-section {
                max-width: 50%;
                width: 50%;
            }

            .right-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                section {
                    margin-top: 0;
                }

                h2 {
                    margin: 0;
                }

                .icons {
                    justify-content: flex-start;
                    order: 2;
                    padding-bottom: 0;
                    margin: 0;
                    padding: 0;

                }

                .coming-soon {
                    justify-content: flex-start;
                    order: 2;
                    padding-bottom: 0;
                    margin: 0;
                    padding: 0;
                }

                .skills {
                    margin-top: 0;

                    ul {
                        margin-top: 0;
                    }
                }
            }
        }

        .highlights {
            margin-left: 0;
            max-width: 100%;
        }
    }



}