@import 'abstracts/variables';

html {
    scroll-behavior: smooth;
}

footer {
    margin-bottom: 4rem;
    text-align: center;
    background-color: rgba($primary-color, 0.1);
    padding: 0.5rem;

    p {
        color: $text-color;
    }

    @media(min-width: $media-query-desktop) {
        margin-bottom: 0;
    }

}

p,
a,
li {
    font-size: $font-size-mobile-p;

    @media (min-width: $media-query-tablet) {
        font-size: $font-size-tablet-p;
    }

    @media (min-width: $media-query-desktop) {
        font-size: $font-size-desktop-p;
    }
}

main {
    width: 100vw;

    @media (min-width: $media-query-desktop) {
        margin-right: 5rem;
        max-width: calc(100vw - 6rem);
        overflow-x: hidden;
    }
}